<aside class="aside aside-self-hiding bg-light" id="right_aside" data-controller="coreui-aside">
  <button type="button" class="btn-close btn-sm" data-action="click->coreui-aside#close"></button>
  <%= yield :aside %>
</aside>
