<ul class="sidebar-nav">
  <li class="nav-item">
    <%= link_to admin_root_path, class: nav_active_class("nav-link", "active", controller: 'admin/home') do %>
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <%= t("layouts.sidebar.admin.home") %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_users_path, class: nav_active_class("nav-link", "active", controller: 'admin/users') do %>
      <i class="nav-icon fas fa-user-circle"></i>
      <%= t("layouts.sidebar.admin.users") %>
    <% end %>
  </li>
</ul>
